

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4FA2B9;
    border-color: #4FA2B9;
}

.page-link {
    color: #4FA2B9;
}

.nav-item{
    background-color: #fff !important;
}

.errorPage{
    width: 100%;
    margin: auto !important;
    background-color: teal !important;
}

